.root {
  position: relative;
  display: flex;
  max-width: max-content;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex: 1;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.item {
  position: relative;
}

.trigger {
  display: inline-flex;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background: hsl(var(--background));
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background 150ms ease, color 150ms ease;
}

.triggerIcon {
  position: relative;
  top: 1px;
  margin-left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  transition: transform 300ms ease;
}

.content {
  position: relative;
  width: 100%;
  padding: 0.5rem;
}

.contentInline {
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0.625rem;
}

.viewportWrap {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
}

.viewport {
  transform-origin: top center;
  background: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  margin-top: 0.375rem;
  height: var(--radix-navigation-menu-viewport-height);
  width: 100%;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid hsl(var(--border));
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.12);
}

.link {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.125rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 150ms ease;
}

.indicator {
  position: absolute;
  top: 100%;
  z-index: 1;
  display: flex;
  height: 0.375rem;
  align-items: end;
  justify-content: center;
  overflow: hidden;
}

.indicatorDot {
  background: hsl(var(--border));
  position: relative;
  top: 60%;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.indicatorInner {
  background: hsl(var(--border));
  position: relative;
  top: 60%;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}